body {
  margin: 0;
  line-height: normal;
  font-family: Inter;
}

:root {
  /* font sizes */
  --promo-inter-medium-675-size: 0.425rem;
  --promo-inter-medium-135-size: 0.844rem;
  --promo-inter-medium-1363-size: 0.85rem;
  --promo-inter-medium-1325-size: 0.831rem;
  --font-size-6xl-2: 1.575rem;
  --font-size-xl: 1.25rem;
  --font-size-5xl-7: 1.544rem;
  --promo-inter-extra-bold-7266-size: 4.544rem;
  --font-size-25xl: 2.75rem;
  --font-size-17xl: 2.25rem;
  --font-size-3xl: 1.375rem;
  --font-size-10xl: 1.813rem;
  --promo-inter-extra-bold-7422-size: 4.638rem;
  --font-size-40xl: 3.688rem;
  --font-size-19xl: 2.375rem;
  --promo-inter-extra-bold-7344-size: 4.588rem;
  --promo-inter-regular-2912-size: 1.819rem;
  --font-size-4xl: 1.438rem;
  --promo-inter-bold-2324-upper-size: 1.45rem;
  --font-size-lgi: 1.188rem;
  --promo-inter-bold-2363-upper-size: 1.475rem;
  --promo-inter-regular-2857-size: 1.788rem;
  --promo-inter-medium-2926-size: 1.831rem;
  --font-size-45xl: 4rem;
  --font-size-32xl: 3.188rem;
  --promo-inter-regular-2575-size: 1.613rem;
  --font-size-2xl: 1.313rem;
  --promo-inter-regular-2788-size: 1.744rem;
  --promo-inter-regular-2638-size: 1.65rem;
  --promo-inter-regular-5082-size: 3.175rem;
  --font-size-109xl: 8rem;
  --font-size-13xl: 2rem;

  /* Colors */
  --white: #fff;
  --purple: #790028;
  --gray: #b6b6b6;
  --lightyellow: #ffdc32;
  --brightyellow: #fdc41f;
  --pink: #efbeba;
  --black: #000;

  /* Gaps */
  --gap-mid: 1.062rem;
  --gap-7xl: 1.625rem;
  --gap-xl: 1.25rem;
  --gap-2xl: 1.312rem;
  --gap-lg: 1.125rem;
  --gap-39xl: 3.625rem;
  --gap-10xl: 1.812rem;
  --gap-4xl: 1.437rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-73xl: 5.75rem;
  --padding-5xl: 1.5rem;
  --padding-8xs: 0.312rem;
  --padding-3xs: 0.625rem;
  --padding-21xl: 2.5rem;
  --padding-4xl: 1.437rem;
  --padding-2xl: 1.312rem;
  --padding-41xl: 3.75rem;
  --padding-120xl: 8.687rem;
  --padding-10xl: 1.812rem;
  --padding-3xl: 1.375rem;
  --padding-3xs-5: 0.593rem;
  --padding-4xs: 0.562rem;

  /* Border radiuses */
  --br-17xl: 36px;
  --br-181xl: 200px;
  --br-136xl: 155px;
  --br-238xl: 257px;
}
