html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

section {
  padding-bottom: 10.89vw;;
}

.main {
  position: relative;
  width: 100%;
  background-color: #5c7148;
  display: flex;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.participate-section,
.win,
.mainprize,
.winners-content-wrapper,
.questions-content-wrapper,
.footer {
  margin: 0 auto;
}

.win-section {
  margin: 44vw 14.39vw 0 auto;
}

.win {
  display: flex;
  max-width: 76.3vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.win-container {
  display: flex;
  gap: 3.75vw;
}

.subtext-white {
  margin: 1.51vw 0 3.54vw 0;
  width: 57.5vw;
}

.headphones {
  padding-top: 11.3vw;
  gap: 2.4vw;
}

.headphones-image {
  position: relative;
  width: 11.3vw;
  height: 15.63vw;
}

.headphones-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 11.3vw;
  height: 15.63vw;
  z-index: 1;
}

.win-text {
  font-size: 1.51vw;
  font-weight: 400;
  color: var(--white);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25vw;
  width: 19.17vw;
}

.ticket-description{
  width: 23.39vw;
}

.basket-win {
  gap: 3.125vw;
}

.basket-image {
  position: relative;
  width: 18.75vw;
  height: 25.89vw;
}

.basket-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.75vw;
  height: 25.89vw;
  z-index: 1;
}

.win-heading__yellow {
  color: var(--brightyellow);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.23vw;
}

.backgroundblur {
  position: absolute;
  top: 0;
  left: 1vw;
  filter: blur(6.56vw);
  border-radius: 8.07vw;
  background-color: var(--white);
  width: 12vw;
  height: 12vw;
}

.backgroundblur1 {
  position: absolute;
  top: 4.4vw;
  left: 3.875vw;
  filter: blur(8.125vw);
  border-radius: 10.42vw;
  background-color: var(--white);
  width: 17vw;
  height: 17vw;
}

.backgroundblur2 {
  position: absolute;
  filter: blur(8.125vw);
  border-radius: 10.42vw;
  background-color: var(--white);
  width: 12vw;
  height: 17vw;
}

.ticket-image {
  width: 11.93vw;
  height: 16.9vw;
  position: relative;
}

.ticket-img {
  position: absolute;
  width: 11.93vw;
  height: 16.9vw;
  top: 0;
  left: calc(50% + 21px);
  transform: translate(-50%, 0);
  z-index: 1;
}

.ticket-win {
  padding-top: 9.38vw;
  gap: 3.02vw;
}

.heading-white {
  line-height: 5.42vw;
  font-weight: 800;
  font-size: 3.83vw;
  margin: 0;
  color: var(--white);

  text-shadow: 0 0.16vw 0.16vw rgba(0, 0, 0, 0.5);
}

.win-heading {
  padding-bottom: 3.6vw;
}

.winners-container {
  background-color: rgba(130, 154, 107, 0.53);
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0;

  box-sizing: border-box;
  width: 52.29vw;
  height: 28.44vw;
}

.winners-text {
  font-size: 1.87vw;
  font-weight: 800;
  text-align: center;
  margin: 0;
  color: var(--white);
}

.winners-content-wrapper {
  width: 52.29vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
  box-sizing: border-box;
  font-size: 1.88vw;
}


.questions-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 46.35vw;
  padding-bottom: 10.89vw;
}

.questions-heading {
  padding: 0 5.42vw 2.76vw 5.42vw;
  width: 100%;
}

.question {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  border-top: 1px solid var(--gray);

  font-size: 1.2vw;
  color: var(--white);
}

.question__last{
  border-bottom: 1px solid var(--gray);
}

.question-inside {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1.35vw 0 1.33vw 0;
}

.question-description {
  display: none;
  font-size: 1vw;
  padding: 0.5vw 0 1vw 0.5vw;
  line-height: 1.6vw;
}

.question-inside__active{
  color: var(--brightyellow);
}

.question-description__active {
  display: block;
}

.question-list {
  font-size: 1.3vw;
}

.arrow {
  width: 1.88vw;
  height: 1.88vw;
}

.arrow__active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);

  -webkit-transition: transform 0.4s linear;
  -ms-transition: transform 0.4s linear;
  transition: transform 0.4s linear;
}

.footer {
  display: flex;
  padding-bottom: 2vw;
}

.footer-content {
  display: flex;
  gap: 23px;
  flex-direction: column;
  max-width: 36.15vw;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.footer-link__a {
  font-weight: 500;
  font-size: 1vw;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

.footer-text__small{
  font-size: 0.5vw;
  font-weight: 500;
  color: var(--white);
}

.telegram-logo {
  width: 2.29vw;
  height: 2.29vw;
  cursor: pointer;
  margin-top: 1vw;
}

.telegram-logo > img {
  width: 2.29vw;
  height: 2.29vw;
}

.logo {
  display: flex;
  align-items: center;
  gap: 28px;
  max-width: 100%;
}

.logo-pulk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10.42vw;
  height: 3.91vw;
  cursor: pointer;
}

.logopulk-icon {
  width: 10.42vw;
  height: 3.91vw;
  cursor: pointer;
}

.logo-lavka {
  position: absolute;
  top: -5.47vw;
  left: 36.61vw;
  cursor: pointer;
}

.logolavka-icon {
  width: 14.22vw;
  height: 3.91vw;
  cursor: pointer;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  color: var(--white);
  background-color: var(--purple);
  z-index: 1111;
}

.header-container {
  display: flex;
  margin: 10px auto;
  max-width: 100%;
  flex: 1;
  justify-content: center;
  gap: 21.3vw;
  z-index: 2;
}

.header-navigation {
  display: flex;
  gap: 2.26vw;
  align-items: center;

}

.header-li {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;

  font-weight: 500;
  font-size: 0.76vw;

  color: inherit;
  cursor: pointer;
}

.header-li:hover {
  color: var(--brightyellow);
  transition-duration: 300ms;
}

.header-li__check {
  color:  #ffd195;
}

.promo-group {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 91.09vw;
  margin: 12vw 0.21vw 0 7vw;
}

.promo {
  height: 57.6vw;
  background: radial-gradient(circle, rgb(166, 189, 143) 0%, rgba(130,154,107,1) 100%);
}

.promo-header__green {
  text-transform: uppercase;
  text-align: center;
  color: #10663D;

  font-size: 6.67vw;
  font-weight: 800;
  
  width: 42.97vw;
  height: 8.02vw;
  padding-top: 0.68vw;

  text-shadow: 0.47vw 0px 0.06vw #002B16;
}

.promo-date {
  font-size: 1.67vw;
  line-height: 1.35vw;
  color: var(--purple);
}

.registration-btn {
  width: 27.76vw;
  height: 6.46vw;
  padding: 0.5vw;

  margin: 2.47vw 0 0 1.56vw;

  border: none;
  border-radius: 70px;
  text-align: center;

  font-weight: 800;
  font-size: 1.875vw;
  line-height: 1.875vw;

  color: var(--white);
  background-color: var(--purple);
  cursor: pointer;
}

.registration-btn:hover {
  color: var(--purple);
  background-color: var(--white);
  transition-duration: 700ms;
}

.lightning-icon {
  height: 3.125vw;
  width: 2.6vw;
  margin: 0;
}

.promo-participate,
.span-pink {
  font-size: 2.65vw;
  font-weight: 400;
  line-height: 3.28vw;
}

.promo-participate {
  color: var(--purple);

  width: 29vw;
  height: 6.35vw;
}

.vibe-heading {
  width: 28.07vw;
  display: flex;
  align-items: center;
  padding: 0.68vw 0 2.03vw 0;
}

.promo-header__vibe {
  height: 8.96vw;

  font-size: 6.67vw;
  font-weight: 800;

  color: #7A258F;

  margin: 0 0.94vw; 

  text-shadow: 0.47vw 0px 0.06vw #470358;
}

.span-pink {
  color: #EFBAE3;
  text-shadow: 0.21vw 0 0.08vw #EE286F;
}


.promo-cake {
  height: 46.88vw;
  width: 46.88vw;
  background-image: url(../img/promo-cake2.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1.72vw solid var(--purple);
}

.heading-group {
  display: flex;
  flex-direction: column;

  height: 35.68vw;
  width: 43.96vw;
}

.participate-section {
  position: absolute;
  top: 53.28vw;
  left: 50%;
  transform: translate(-50%, 0);

  height: 39.32vw;
  width: 81.04vw;
  padding-bottom: 100px;
  text-align: center;
}

.participate {
  position: relative;
  width: 100%;
  height: 100%;
}

.participate-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.participate-container {
  display: flex;
  justify-content: center;
  gap: 3.96vw;
}

.participate-heading {
  margin: 3.02vw 0 0.68vw 0;
}

.participate-text {
  font-weight: 400;
  font-size: 1.41vw;
  color: var(--white);
  width: 18.125vw;
  margin-top: 13px;
}

.participate-text__three {
  width: 23.07vw;
 
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 21.77vw;

  margin-bottom: 7.6vw;
}

.step-one {
  width: 20.968vw;
}

.step-two {
  width: 18.33vw;
}

.step-three{
  width: 23.07vw;
}

.cake-image {
  position: relative;
  width: 12.55vw;
  height: 12.5vw;
}

.cake-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.circle-yellow-group {
  position: absolute;
  bottom: 0;
  left: 3.96vw;
  width: 5.16vw;
  height: 4.9vw;
}

.circle-yellow {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(0deg, #7D3E00 -7.62%, #FFC170 14.51%, #FFEED8 32.4%, #FFC170 84.95%, #7D3E00 106.96%);
  width: 100%;
  height: 100%;
  z-index: 4;
}

.circle-text {
  position: absolute;
  top: 1.5vw;

  height: 2.5vw;

  font-size: 3.33vw;
  line-height: 1.75vw;
  font-weight: 800;

  text-align: center;
  z-index: 5;
}

.circle-text__one{
  left: 1.67vw;
  width: 1.67vw;
}

.circle-text__two{
  left: 1.51vw;

  width: 2.14vw;
}

.circle-text__three{
  left: 1.46vw;
  width: 2.24vw;
}

.smartphone-image {
  position: relative;
  width: 11.17vw;
  height: 12.5vw
}

.smartphone-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11.02vw;
  z-index: 3;
}

.shop-image {
  position: relative;
  width: 19.22vw;
  height: 12.5vw;
}

.shop-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 19.22vw;
  height: 11.5vw;
  z-index: 3;
  border-radius: 22px;
}

.group-two {
  left: 3vw;
}

.group-three {
  top: 7.24vw;
  left: 7.03vw;
}

.participate-bg {
  height: 39.32vw;
  width: 81.04vw;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
}

.participate-bg-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.addcheck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
}

.addcheck-heading {
  margin: 0 auto 3vw auto;
  text-align: center;
}

.check-form {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  font-size: 1.51vw;
  font-weight: 400;
  color: var(--white);
}

.check-label {
  margin-left: 10px;
}

.check-input {
  display: block;
  position: static;
  height: 4vw;

  border-radius: 30px;

  background-color: #10663D;
  color: #002B16;

  border: none;

  font-size: 2.3vw;
  padding: 1.5vw;
  line-height: 1.6vw;
}

.check-input__err {
  background-color: #7e3434;
  color: #2b0000;
}

.check-input:focus {
  outline: none;
  background-color: #ffd195;
}

.error-input {
  color: #751010;
  text-align: center;
}

.error-input__active{
  display: block;
}

.checkbox-input {
  margin: 0;
  height: 2vw;
  width: 2vw;
}

.form-flex {
  display: flex;
  flex-direction: row-reverse;
  gap: 1vw;
}

.check-btn {
  background-color: var(--gray);
  color: rgb(51, 51, 51);
}

.check-btn:hover {
  background-color: var(--gray);
  color: rgb(51, 51, 51);
}

.check-form > button {
  margin: 2.47vw auto;
}

.burger-menu,
.promo-cake__mobile,
.span-pink__mobile,
.participate-section__mobile {
  display: none;
}

.alert {
  padding: 1.56vw;

  display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  color: white;

  margin-bottom: 4.69vw;
  text-align: center;
  height: 3.4vw;

}

.closebtn {
  display: block;
  padding-bottom: 1.56vw;
  color: white;
  font-weight: bold;
  font-size: 3.2vw;
  cursor: pointer;
  transition: 0.3s;
  height: 100%;
}

.closebtn:hover {
  color: black;
}

.alert__good {
  display: flex;
  background-color: #39b65e; 
}

.alert__error {
  display: flex;
  background-color: #d13c3c; 
}

@media (max-width: 1024px) {


  .logolavka-icon {
    width: 23.63vw;
    height: 6.49vw;
    cursor: pointer;
  }

  .promo-date {
    font-size: 3vw;
    line-height: normal;
  }

  .promo-cake,
  .promo-participate,
  .span-pink,
  .participate-section {
    display: none;
  }
  
  .burger-menu,
  .promo-cake__mobile,
  .span-pink__mobile {
    display: block;
  }

  .header-navigation,
  .win-container {
    flex-direction: column;
  }

  .win-container,
  .winners-content-wrapper,
  .winners-container,
  .questions-content-wrapper, 
  .question-list,
  .questions-heading,
  .footer,
  .footer-text__small > p {
    width: 69vw;
  }

  .heading-white {
    margin: 0 auto;
    font-size: 7.17vw;
    text-align: center;
    width: fit-content;
    line-height: 9.23vw;
  }

  .promo {
    height: 110vw;
  }

  .header-container {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
  }

  .header-navigation {
    position: absolute;
    top: 6.2vw;
    right: -50px;
    width: 31vw;
    height: 26vw;

    gap: 4vw;
    padding-top: 6vw;
    background-color: var(--purple);
    display: none;
  } 

  .header-navigation__active {
    display: flex;
  }

  .header-li {
    font-size: 2vw;
  }

  .header-li:hover {
    color: black;
  }

  .burger-menu{
    width: 4.62vw;
    height: 4.62vw;
  } 

  .logo-pulk,
  .logopulk-icon {
    width: 19vw;
    height: 6.5vw;
    cursor: pointer;
  }

  .promo-group,
  .heading-group{
    flex-direction: column;
    align-items: center;
  }

  .logo-lavka {
    display: none;
  }

  .promo-group {
    width: 53.42vw;
    margin: 12vw auto 0 auto;
  }

  .heading-group{
    height: 100%;
  }

  .promo-header__green,
  .promo-header__vibe {
    font-size: 6.3vw;
    text-align: center;
  }

  .promo-header__green {
    padding-top: 2.03vw;
    color: var(--white);
    text-shadow: 0 0 0.86vw #414141;
  }

  .promo-header__vibe{
    color: #FFD7E8;
    text-shadow: 0 0 0.44vw #EB58C2;
  }

  .vibe-heading {
    width: 24.93vw;
  }

  .promo-header__green,
  .promo-header__vibe,
  .vibe-heading {
    text-align: center;
  }

  .promo-cake__mobile {
    height: 46.15vw;
    width: 46.15vw;
    background-image: url(../img/promo-cake.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size:contain;
    background-position:center;
  }

  .span-pink__mobile {
    color: #ffffff;
    text-shadow: 0 0 1.35vw #b97993;
    font-size: 4vw;
    padding-top: 4vw;
  }

  .participate-section__mobile,
  .participate-container {
    flex-direction: column;
    gap: 7.32vw;
    margin: 0 auto;
  }

  .participate-section__mobile {
    display: flex;
    justify-content: center;
    position: static;
    width: 74.22vw;
    height: 77.64vw;
    margin-top: 7.32vw;
    padding-bottom: 0;
  }

  .participate-container {
    justify-content: start;
    width: 69.16vw;
    height: 60.16vw;
  }

  .step {
    flex-direction: row;
    height: fit-content;
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }

  .registration-btn {
    font-size: 2.5vw;
    line-height: normal;
    width: 38.46vw;

    margin: 2.47vw auto;
  }

  .participate-text {
    margin: 0;
    font-size: 2.73vw;
    width: 55.96vw;
  }

  .circle-yellow-group {
    position: relative;
    width: 9.23vw;
    height: 9.23vw;
    left: 0;
    bottom: 0;
  }

  .circle-yellow {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .circle-text{
    font-size: 6.25vw;
    top: 1vw;
    line-height: normal;
    height: 6vw;
    width: fit-content;
  }

  .circle-text__one {
    left: 2.7vw;
  }

  .circle-text__two {
    top: 0.8vw;
    left: 2.4vw;
  }

  .circle-text__three {
    left: 2.4vw;
  }

  .win {
    flex-direction: row;
    align-items: center;
    margin: 0;
    gap: 3.42vw;
  }

  .win-section {
    flex-direction: column;
    margin: 0 auto;
  }

  .description {
    align-items: start;
    width: 70%;
  }

  .win-heading__yellow {
    font-size: 3.13vw;
    line-height: normal;
    text-align: left;
    width: 100%;
  }

  .win-text {
    font-size: 2.73vw;
    width: 100%;
    text-align: left;
  }

  .headphones-image,
  .basket-image,
  .ticket-image,
  .headphones-img,
  .basket-img,
  .ticket-img {
    position: static;
  }

  .headphones,
  .ticket-win {
    padding: 0; 
  }

  .headphones-image,
  .ticket-image {
    height: 19.53vw;
  }

  .headphones-img,
  .ticket-img {
    height: 100%;
    width: 100%;
    transform: none;
  }

  .headphones-image {
    width: 14.55vw;
  }

  .basket-image {
    height: 24.41vw;
    width: 17.68vw;
  }

  .ticket-image {
    width: 13.97vw;
  }

  .basket-win {
    gap: 0;
  }

  .basket-img {
    height: 100%;
    width: 100%;
    transform: translateX(-1.95vw);
  }

  .win-heading {
    height: fit-content;
    padding-bottom: 0;
  }

  .winners-content-wrapper {
    padding-bottom: 20vw;
  }

  .check-form  {
    margin-top: 7vw;
    width: 100%;
    font-size: 2.73vw;
  }

  .check-input {
    margin-bottom: 5vw;
    font-size: 2.73vw;
    margin-bottom: 1.5vw;
  }

  .checkbox-input {
    width: 4vw;
    height: 4vw;
  }

  .questions-content-wrapper {
    padding-bottom: 20vw;
  }

  .winners-text,
  .question-inside,
  .question-description {
    font-size: 2.73vw;
  }

  .form-flex {
    justify-content: space-between;
    width: 58vw;
  }

  .check-label {
    width: 60vw;
  }

  .winners-container {
    height: 35vw;
  }

  .questions-heading {
    padding: 5vw 0;
  }

  .arrow {
    width: 3.32vw;
    height: 3.32vw;
  }

  .question-description {
    height: fit-content;
    line-height: normal;
  }

  .telegram-logo {
    width: 6.35vw;
    height: 6.35vw;
    margin: 0;
  }

  .telegram-logo > img {
    width: 100%;
    height: 100%;
  }

  .footer {
    justify-content: space-between;
  }

  .footer-content {
    width: 68vw;
  }

  .footer-logos {
    justify-content: space-between;
    width: 100%;
  }

  .footer-text__small {
    position: relative;
    font-size: 1.3vw;
    line-height: normal;
    width: 100%;
    height: 15vw;
  }

  .footer-text__small > p {
    position: absolute;
  }
}

@media (max-width: 600px) {
  .registration-btn {
    height: 7vw;
    line-height: 2vw;
  }

  .promo-group {
    margin-top: 14vw;
  }
}




